@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400&display=swap');

@media screen and (orientation:portrait){
  html {
    height: 100%;
    background: rgb(67,69,82);
    background: linear-gradient(180deg, rgba(67,69,82,1) 0%, rgba(45,45,57,1) 43%, rgba(32,32,44,1) 100%) no-repeat;
  }
}

@media screen and (orientation:landscape) {
  html {
    height: auto;
    background: rgb(67,69,82);
    background: linear-gradient(180deg, rgba(67,69,82,1) 0%, rgba(45,45,57,1) 43%, rgba(32,32,44,1) 100%) no-repeat;
  }
}


body {
  font-family: 'Open Sans', sans-serif;  
}

/* #app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
